<p>
  ngrok is a platform that provides secure connectivity into any environment. 
  With one line of code, developers get instant ingress to services with authentication, observability, 
  and other critical controls &mdash; all without provisioning legacy proxies, load balancers, or VPNs. 
  ngrok’s simplicity has made it a de-facto standard tool among developers and industry-leading companies 
  such as GitHub, Okta, Shopify, and Twilio recommend it throughout their documentation. 
  Over six million developers use ngrok to get their apps online faster while keeping security happy. 
<p>
</p>
  Learn more at <a href="https://ngrok.com/" target="_blank">ngrok.com</a>.
</p>
