---
layout: default
title: GothamGo
---

<div class="content">

  <h1>{{ page.title }}</h1>

  <img src="{{site.url}}/images/three.png" alt="GothamGo" class="center">
  
  <h2>New York City</h2>
  <h2>June 9, 2023</h2>

  <p>
    GothamGo is an annual Go Language conference held in the most awesome city in the world!
  </p>

  <div id="tickets">
    <h2>Tickets!</h2>

    <!--
    <p>Tickets are available for GothamGo. Get yours today, before they sell out!</p>
    -->

    <div id="ticket-button" style="font-family:Helvetica, arial; text-align: center; padding-top: 1em;" class="center">
      <a href="https://gothamgo.ticketleap.com/gotham-go-2023/" style="background-color:#E42217;font-size:15px;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);display: inline-block;margin:0;text-align:center;text-decoration:none;font-weight:bold;color:#FFFFFF;letter-spacing: .07em;padding:18px 27px;font-family: arial,sans-serif !important;" target="_blank">TICKETS AVAILABLE NOW!</a>
    </div>
  </div>

  <h2>Speak at GothamGo!</h2>
  <p>
    Our <a href="https://www.papercall.io/gothamgo2023" target="_blank">call for talks</a> is open!
    We want to hear your proposals!
  </p>

  <p>
    In the meanwhile, we have two fantastic speakers to announce, Cameron Balahan and Katie Hockman!
  </p>

</div>

{% include feature_panel.html %}
{% include footer.html %}
