---
layout: frontrunners
---

<div class="content-wrapper">
  <div class="content">
    <h1>Speakers</h1>

<!--
    <p>
      We will add new speakers here as we confirm them.
      So, please check back often.
    </p>

    <p>
      We will add new speakers here as we confirm them.
      So, please check back often.
      We will have a complete list soon after our 
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeVqFwR2_Bn3poybhyT9ZzGVG4YTuAZUVstUbx_IzuzAQUM9Q/viewform" target="_blank">call for talks</a> 
      closes on Oct 19.
    </p>
-->

    <div class="speakers">
      {% include speakers/2023/cameron_balahan.html %}
      {% include speakers/2023/katie_hockman.html %}
    </div>

  </div>
</div>
