<div id="alan-donovan" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/alan_donovan.png" alt="Alan Donovan" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Alan Donovan</h3>

    <p class="speaker-bio">
      Alan Donovan has spent almost twenty years working on developer tools at Google NYC, including the company’s build system (Blaze) and its production monitoring system (Monarch). Since joining the Go team in 2012, has built numerous static analysis packages and tools for Go, and, with Brian W. Kernighan, co-authored The Go Programming Language (Addison-Wesley, 2005).
    </p>

</div>

<div id="robert-findley" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/robert_findley.png" alt="Alan Donovan" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Robert Findley</h3>

    <p class="speaker-bio">
      Rob Findley is tech lead for gopls, the Go language server. Before working on gopls, he contributed to pkg.go.dev, Go generics, and support for tools in the Go standard library.”    
    </p>
  
    <h3 class="talk-title">Redesigning Gopls for 10x scale</h3>

    <p class="talk-description">
      Gopls is Go’s implementation of the Language Server Protocol, which turns any text editor into an IDE. 
      In this talk, Rob and Alan of the Go team at Google will present the results of their year-long effort to 
      rearchitect Gopls to enable it to work efficiently in the largest of Go projects. 
      By exploiting the dependency structure of Go programs at various levels of scale (identifiers, imports, types, modules) 
      and using techniques from compilers and build systems, 
      the new design enables Gopls to start more quickly and to serve much larger codebases, while consuming dramatically less memory. 
      It also fixes a number of longstanding bugs and unlocks some new features, such as modular static analysis.    
    </p>
  </div>
  
</div>
