<div id="alan-shreve" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/alan_shreve.jpg" alt="Alan Shreve" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Alan Shreve</h3>

    <p class="speaker-bio">
      <a href="https://twitter.com/inconshreveable" target="_blank">Alan Shreve</a> is the founder and CEO of <a href="https://ngrok.com/" target="_blank">ngrok.com</a>, 
      a service that provides secure tunneling infrastructure and developer tools, 
      used by tens of thousands of developers at firms all across the industry.
    </p>

    <p class="speaker-bio">
      Alan has also developed and maintains numerous open source projects, many of which are used widely. 
      These include libraries for <a href="https://github.com/inconshreveable" target="_blank">RPC primitives, 
      self-updating software, structured logging, SQL query visibility and more</a>.
    </p>

    <p class="speaker-bio">
      Alan loves to talk about how to build better educational tools for new programmers; 
      how to run sustainable self-funded software businesses; 
      and how we can encrypt all internet communications and build a safer and more secure web.
    </p>

    <h3 class="talk-title">Abstractions are Dead, Long Live Abstractions!</h3>

    <p class="talk-description">
      Building an app isn’t simply html, css, and js. 
      In modern app development, we have scripts that build and deploy servers, configure connectivity, monitor and report status, 
      package and distribute code, observe activity across the system, and scale up or down as we need. 
      Every capability introduces new concepts, tools, and complexity that we must learn, monitor, study, and maintain over time.
    </p>

    <p class="talk-description">
      In short, there’s nothing short about it. Unfortunately, we found ourselves here by working with the wrong abstractions. 
      And even worse, we’re stuck in a place far outside our skills and understanding and have lost track of our app. 
      Our tooling has changed but our modeling around it has not.
    </p>

    <p class="talk-description">
      In this talk, let’s shift our thinking to solve the problems we’re good at and get back to building great apps.
    </p>
  </div>
  
</div>
