<div id="alan-shreve" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/alan_shreve.jpg" alt="Alan Shreve" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Alan Shreve</h3>

    <p class="speaker-bio">
      <a href="https://twitter.com/inconshreveable" target="_blank">Alan Shreve</a> is the founder and CEO of ngrok.com, 
      a service that provides secure tunneling infrastructure and developer tools, 
      used by tens of thousands of developers at firms all across the industry.
    </p>

    <p class="speaker-bio">
      Alan has also developed and maintains numerous open source projects, many of which are used widely. 
      These include libraries for <a href="https://github.com/inconshreveable" target="_blank">RPC primitives, self-updating software, structured logging, SQL query visibility and more</a>.
    </p>

    <p class="speaker-bio">
      Alan loves to talk about how to build better educational tools for new programmers; 
      how to run sustainable self-funded software businesses; 
      and how we can encrypt all internet communications and build a safer and more secure web.
    </p>

<!--
-->
    <h3 class="talk-title">Harnessing the Power of Protobuf + gRPC</h3>

    <p class="talk-description">
      GRPC and Protobuf are popular tools in the Go ecosystem. 
      There are many resources on how to get started with GRPC and Protobuf, but documentation can be sparse when you begin leveraging more powerful features. 
      Alan will walk through novel applications of Protobuf and GRPC drawn from real-world examples building ngrok’s global ingress platform, 
      including: 
      <ul>
        <li>
          Leveraging GRPC streaming for resilient pull-based distributed systems architectures 
        </li>
        <li>
          Writing custom code generators with protobuf annotations and grpc interceptors for safety and ergonomics 
        </li>
        <li>
          Encoding customer-defined middleware configuration like load balancing and federated auth into nested protobuf message representations    
        </li>
      <ul>
    </p>
  </div>
  
</div>
