<div id="alan-shreve" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/alan_shreve.jpg" alt="Alan Shreve" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Alan Shreve</h3>

    <p class="speaker-bio">
      <a href="https://twitter.com/inconshreveable" target="_blank">Alan Shreve</a> is the founder and CEO of ngrok.com, 
      a service that provides secure tunneling infrastructure and developer tools, 
      used by tens of thousands of developers at firms all across the industry.
    </p>

    <p class="speaker-bio">
      Alan has also developed and maintains numerous open source projects, many of which are used widely. 
      These include libraries for <a href="https://github.com/inconshreveable" target="_blank">RPC primitives, self-updating software, structured logging, SQL query visibility and more</a>.
    </p>

    <p class="speaker-bio">
      Alan loves to talk about how to build better educational tools for new programmers; 
      how to run sustainable self-funded software businesses; 
      and how we can encrypt all internet communications and build a safer and more secure web.
    </p>

<!--
    <h3 class="talk-title">Go Big! Go Enterprise</h3>

    <p class="talk-description">
      Come with us on a journey adopting Go at an enterprise. We will walk through example projects using Go to solve common enterprise problems. And see how Go can help with cost efficiency, increased reliability, improved runtime performance, and providing a better developer experience.
    </p>

    <p class="talk-description">
      Based on our experience working with Go at Capital One, we will walk through general enterprise use cases where Go really shines. These projects cover domains such as cloud, software engineering, and shared services. Finally, we will close by sharing takeaways from these projects and the ways in which Go and its community continue to delight us.
    </p>
-->
  </div>
  
</div>
