<div id="alan-donovan" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/alan_donovan.png" alt="Alan Donovan" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Alan Donovan</h3>

    <p class="speaker-bio">
      Alan Donovan has spent almost twenty years working on developer tools at Google NYC, including the company’s build system (Blaze) and its production monitoring system (Monarch). Since joining the Go team in 2012, has built numerous static analysis packages and tools for Go, and, with Brian W. Kernighan, co-authored The Go Programming Language (Addison-Wesley, 2005).
    </p>
  </div>
</div>
