<div id="cameron-balahan" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/cameron_balahan.jpg" alt="Cameron Balahan" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Cameron Balahan</h3>

    <p class="speaker-bio">
      Cameron is a product manager and the product lead for Go at Google. 
      Before Go, Cameron led Google Cloud's programming languages support and integrations and, before Google, 
      he led a high frequency market making firm where he built low latency trading systems in C and C++. He likes Go more.
    </p>

    <p class="speaker-bio">
      Cameron earned a bachelor's degree in computer science from the University of California at Santa Barbara 
      and a juris doctor from the George Washington University Law School.
    </p>

<!--
    <h3 class="talk-title">Design Systems from Zero to One</h3>

    <p class="talk-description">
      Starting a design system can be daunting, especially on a more extensive app or family of applications. 
      How do you start, and then how do you implement the plan? 
      What are the pitfalls of common approaches and off-the-shelf setups? 
      We'll dive into how to start your team on the path of bringing a design system to your organization. 
      We'll identify steps you can take today to move the ball forward, and finally, we'll discuss some of the pitfalls 
      and concerns to watch for as you move towards a unified experience.
    </p>
-->
  </div>
  
</div>
