<div id="filippo-valsorda" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/filippo_valsorda.jpg" alt="Filippo Valsorda" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Filippo Valsorda</h3>

    <p class="speaker-bio">
      I'm a cryptography engineer and open source maintainer. 
      I've been in charge of cryptography and security on the Go team at Google until 2022, 
      and was on the Cryptography team at Cloudflare until 2017.
    </p>

    <h3 class="talk-title">Practical Fuzzing</h3>

    <p class="talk-description">
      It's been an exciting few years for Go cryptography. 
      We've seen a whole new package, crypto/ecdh, a lot of deprecations of unsafe APIs, 
      new and simplified TLS features (including upcoming QUIC support!), 
      large rewrites of the elliptic curve and RSA backends to be safer and constant time, and even the occasional vulnerability. 
      If you've not been tracking the progress or if you wanted to learn more from behind the curtain, 
      this is the opportunity to catch up and dive in.
    </p>
  </div>
  
</div>
