<div id="johnny-boursiquot" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/mofizur_rahman.jpg" alt="Johnny Boursiquot" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Johnny Boursiquot</h3>

    <p class="speaker-bio">
      Johnny Boursiquot is a multi-disciplined software engineer with a love for teaching and community-building. 
      He is the founder and organizer of the Baltimore Go User Group and has served as an organizer of both the 
      Boston Ruby User Group and the Boston Go User Group. 
      He stays busy as a speaker, trainer, podcast host, and advocate within the Go community. 
      He is currently the Chief Technology Officer at 
      <a href="https://www.skilltype.com" target="_blank">Skilltype</a>.
    </p>

    <h3 class="talk-title">Rush Tactics: Writing Go code you won’t regret later</h3>

    <p class="talk-description">
      You’re still getting comfortable with Go but you’ve just been handed a project that needs to be done yesterday. You’re scrambling to figure out the right project setup, packaging, and even the concurrency bits you know would be great for the use case at hand. You’ve read and watched best practice content but what you really need is a guided example of how to apply the right amount of engineering to the problems you have right now. In this talk, Johnny walks you through the tactics he employs time and again to prevent over engineering and set projects up for success, especially for rushed deliverables.    </p>
    </p>

  </div>
  
</div>
