
<div id="katie-hockman" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/katie_hockman.jpg" alt="Katie Hockman" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Katie Hockman</h3>

    <p class="speaker-bio">
      Katie Hockman is the engineering lead for Go tracing client libraries at Datadog. 
      She was previously at Google where she was an engineer on the Go core language team leading efforts 
      such as the module mirror and checksum database, and adding fuzz testing support into the native Go tool chain.
    </p>

<!--
    <h3 class="talk-title">Design Systems from Zero to One</h3>

    <p class="talk-description">
      Starting a design system can be daunting, especially on a more extensive app or family of applications. 
      How do you start, and then how do you implement the plan? 
      What are the pitfalls of common approaches and off-the-shelf setups? 
      We'll dive into how to start your team on the path of bringing a design system to your organization. 
      We'll identify steps you can take today to move the ball forward, and finally, we'll discuss some of the pitfalls 
      and concerns to watch for as you move towards a unified experience.
    </p>
-->
  </div>
  
</div>
