
<div id="katie-hockman" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/katie_hockman.jpg" alt="Katie Hockman" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Katie Hockman</h3>

    <p class="speaker-bio">
      Katie Hockman is the engineering lead for Go tracing client libraries at Datadog. 
      She was previously at Google where she was an engineer on the Go core language team leading efforts 
      such as the module mirror and checksum database, and adding fuzz testing support into the native Go tool chain.
    </p>

    <h3 class="talk-title">Practical Fuzzing</h3>

    <p class="talk-description">
      Go now supports fuzz testing natively as of Go 1.18, a tool that can be used to identify bugs and security vulnerabilities in your code. 
      This talk will discuss practical applications of fuzzing your code so you can get the most out of the tool. 
      This talk will include a live code demo of a bug being found, fixed, and tested in real time using fuzzing.
    </p>
  </div>
  
</div>
