<div id="lesley-cordero" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/lesley_cordero.jpg" alt="Lesley Cordero" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Lesley Cordero</h3>

    <p class="speaker-bio">
      Lesley Cordero is currently a Staff Software Engineer, Tech Lead at The New York Times. 
      She has spent the majority of her career on edtech teams as an engineer, including Google for Education and other edtech startups.

    <p class="speaker-bio">
      In her current role, she has focused on observability, building excellent teams, 
      and reliability management by setting org-wide vision & strategy, improving on-call processes, 
      introducing chaos engineering, 
      and cultivating culture that builds with the most vulnerable employees in mind first. 
      She shows care for others by holding them accountable to the best versions of themselves &mdash; and by buying them the occasional bubble tea.
    </p>

    <h3 class="talk-title">Using Golang for Platform Engineering</h3>
    <p class="talk-description">
      We’ll explore how Golang can improve platform engineering with its robustness, concurrency model, and cross-platform support.
      We’ll talk about DevOps best practices and Golang examples for creating tools, deployment automation, integrations, and using infra-as-code.
    </p>
  </div>
  
</div>
