<div id="moieed-ahmed" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/moieed_ahmed.jpg" alt="Moieed Ahmed" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Moieed Ahmed</h3>

    <p class="speaker-bio">
      Moieed Ahmed is the Director of Software Engineering at Capital One. He is a hands-on developer, solutions architect and an engineering leader. 
      Moieed has led multiple large scale enterprise software projects in a variety of domains including tech and finance industries. 
      He is passionate about building innovative technical solutions for solving business problems.
    </p>
    <p class="speaker-bio">
      As a Go evangelist, Moieed started utilizing Go for building enterprise solutions about 5 years ago across his teams and never looked back.
    </p>
  </div>
</div>
  
<div id="lee-tsai" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2023/lee_tsai.jpg" alt="Lee Tsai" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Lee Tsai</h3>

    <p class="speaker-bio">
      Lee Tsai is a Senior Manager of Software Engineering at Capital One. 
      He works within the Commercial Bank Technology group, where he has brought multiple Go projects to production. 
      Before Capital One, Lee led the Engineering Enablement team at Intuit Mailchimp through a dev environment modernization effort using Go.
    </p>
    
    <p class="speaker-bio">
      Before software, Lee worked on Wall Street as an analyst. That experience continues to fuel his passion for building innovative technical solutions to solve business problems.
    </p>
  
    <h3 class="talk-title">Go Big! Go Enterprise</h3>

    <p class="talk-description">
      Come with us on a journey adopting Go at an enterprise. We will walk through example projects using Go to solve common enterprise problems. And see how Go can help with cost efficiency, increased reliability, improved runtime performance, and providing a better developer experience.
    </p>

    <p class="talk-description">
      Based on our experience working with Go at Capital One, we will walk through general enterprise use cases where Go really shines. These projects cover domains such as cloud, software engineering, and shared services. Finally, we will close by sharing takeaways from these projects and the ways in which Go and its community continue to delight us.
    </p>
  </div>
  
</div>
