<style>
  div.feature-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: DarkGrey;
  }
  div.feature {
    display: flex;
    max-width: 900px;
    background-color: DarkGrey;
  }
  div.feature-details {
    padding: 35px 20px;
    background-color: DarkGrey;
  }
  div.feature h1 {
    background-color: DarkGrey;
  }
  div.feature h2 {
    background-color: DarkGrey;
  }
  div.feature h3 {
    padding: 0em 0em 0.25em 0em;
    background-color: DarkGrey;
  }
  div.feature p {
    padding: 0.25em 0em;
    background-color: DarkGrey;
  }
  div.feature-image {
    padding: 35px 20px;
    background-color: DarkGrey;
  }
  div.feature-image img {
    padding: 3px 0px 0px 0px;
    background-color: DarkGrey;
  }	
</style>

<div class="feature-wrapper">
  <div id="workshop_feature" class="feature">
    <div class="feature-image">
      <img class="speaker-image" src="{{site.url}}/images/sponsors/2023/arden_labs.webp" alt="" width="150"/>
    </div>

    <div class="feature-details">
      <h3>
        Go Workshop!
      </h3>
      <p>
        We are very happy to announce that our Go workshop day will be provided by Ardan Labs.
      </p>
      <div id="workshop-button" style="font-family:Helvetica, arial; text-align: center; padding-top: 1em;" class="center">
        <a href="https://gothamgo.ticketleap.com/gotham-go-2023/" style="background-color:#E42217;font-size:15px;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);display: inline-block;margin:0;text-align:center;text-decoration:none;font-weight:bold;color:#FFFFFF;letter-spacing: .07em;padding:18px 27px;font-family: arial,sans-serif !important;" target="_blank">Go Workshop Tickets</a>
      </div>
    </div>
  </div>
</div>
