<style>
  div.headshots-wrapper {
    background-color: #7395AE;
  }
  div.headshots {
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 0px;
    background-color: #7395AE;
  }
  div.headshots h3 {
    color: WhiteSmoke;
    background-color: #7395AE;
    text-align: center;
    padding: 5px 0px;
  }
  div.headshots p {
    color: WhiteSmoke;
    text-align: center;
  }
  div.headshot-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #7395AE;
    padding: 5px 0px;
  }
  div.headshot-cell {
    background-color: #C0CCC7;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    box-shadow: 3px 3px 3px grey;
  }
  div.headshot-cell img {
    padding: 3px 0px 0px 0px;
    border-radius: 8%;
  }
  div.headshot-cell p {
    color: #28282B;
    background-color: #C0CCC7;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  div.headshot-cell a {
    color: steelblue;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  div.headshot-cell a:hover {
    color: whitesmoke;
    background-color: grey;
  }
</style>

<div class="headshots-wrapper">
  <div class="headshots">
    <h3>Speakers</h3>
    <div class="headshot-row">
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/cameron_balahan.jpg" alt="Cameron Balahan" width="150"/>
        <p><a href="{{site.url}}/speakers.html#cameron-balahan">Cameron Balahan</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/katie_hockman.jpg" alt="Katie Hockman" width="150"/>
        <p><a href="{{site.url}}/speakers.html#katie-hockman">Katie Hockman</a></p>
      </div>
<!--
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/alan_donovan.png" alt="" width="150"/>
        <p><a href="{{site.url}}/speakers.html#alan-donovan" target="_blank">Alan Donovan</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/robert_findley.png" alt="" width="150"/>
        <p><a href="{{site.url}}/speakers.html#robert-findley" target="_blank">Robert Findley</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/jason_hall.jpg" alt="" width="150"/>
        <p><a href="{{site.url}}/speakers.html#jason-hall" target="_blank">Jason Hall</a></p>
      </div>
-->
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/gopher1.jpg" alt="" width="150"/>
        <p><a href="https://www.papercall.io/gothamgo2023" target="_blank">Is it you?</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/gopher1.jpg" alt="" width="150"/>
        <p><a href="https://www.papercall.io/gothamgo2023" target="_blank">Submit a Talk!</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/gopher1.jpg" alt="" width="150"/>
        <p><a href="https://www.papercall.io/gothamgo2023" target="_blank">Speak at GothamGo</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/gopher1.jpg" alt="" width="150"/>
        <p><a href="https://www.papercall.io/gothamgo2023" target="_blank">Your Name Here</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/gopher1.jpg" alt="" width="150"/>
        <p><a href="https://www.papercall.io/gothamgo2023" target="_blank">CFP is Open!</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/gopher1.jpg" alt="" width="150"/>
        <p><a href="https://www.papercall.io/gothamgo2023" target="_blank">Tell Your Story!</a></p>
      </div>
    </div>
<!--
-->
    <h3>Emcees</h3>
    <div class="headshot-row">
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/steve_francia.png" alt="Steve Francia" width="150"/>
        <p><a href="{{site.url}}/speakers.html#steve-francia">Steve Francia</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/mark_bates.png" alt="Mark Bates" width="150"/>
        <p><a href="{{site.url}}/speakers.html#mark-bates">Mark Bates</a></p>
      </div>
    </div>
    <p>
      We will announce more speakers very soon, as we confirm them.
    </p>
  </div>
</div>
