<style>
  div.headshots-wrapper {
    background-color: #7395AE;
  }
  div.headshots {
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 0px;
    background-color: #7395AE;
  }
  div.headshots h3 {
    color: WhiteSmoke;
    background-color: #7395AE;
    text-align: center;
    padding: 5px 0px;
  }
  div.headshots p {
    color: WhiteSmoke;
    text-align: center;
  }
  div.headshot-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #7395AE;
    padding: 5px 0px;
  }
  div.headshot-cell {
    background-color: #C0CCC7;
    padding: 10px;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    box-shadow: 3px 3px 3px grey;
  }
  div.headshot-cell img {
    padding: 3px 0px 0px 0px;
    border-radius: 8%;
    width: 150px;
  }
  div.headshot-cell p {
    color: #28282B;
    background-color: #C0CCC7;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  div.headshot-cell a {
    color: steelblue;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  div.headshot-cell a:hover {
    color: whitesmoke;
    background-color: grey;
  }
</style>

<div id="headshots" class="headshots-wrapper">
  <div class="headshots">
    <h3>Speakers</h3>
    <div class="headshot-row">
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/cameron_balahan.jpg" alt="Cameron Balahan"/>
        <p><a href="{{site.url}}/speakers.html#cameron-balahan">Cameron Balahan</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/katie_hockman.jpg" alt="Katie Hockman"/>
        <p><a href="{{site.url}}/speakers.html#katie-hockman">Katie Hockman</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/alan_donovan.png" alt="Alan Donovan"/>
        <p><a href="{{site.url}}/speakers.html#alan-donovan">Alan Donovan</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/robert_findley.png" alt="Robert Findley"/>
        <p><a href="{{site.url}}/speakers.html#robert-findley">Robert Findley</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/alan_shreve.jpg" alt="Alan Shreve"/>
        <p><a href="{{site.url}}/speakers.html#alan-shreve">Alan Shreve</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/moieed_ahmed.jpg" alt="Moieed Ahmed"/>
        <p><a href="{{site.url}}/speakers.html#moieed-ahmed">Moieed Ahmed</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/lee_tsai.jpg" alt="Lee Tsai"/>
        <p><a href="{{site.url}}/speakers.html#lee-tsai">Lee Tsai</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/lesley_cordero.jpg" alt="Lesley Cordero"/>
        <p><a href="{{site.url}}/speakers.html#lesley-cordero">Lesley Cordero</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/mofizur_rahman.jpg" alt="Mofizur Rahman"/>
        <p><a href="{{site.url}}/speakers.html#mofizur-rahman">Mofizur Rahman</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/jason_hall.jpg" alt="Jason Hall"/>
        <p><a href="{{site.url}}/speakers.html#jason-hall">Jason Hall</a></p>
      </div>
<!--
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/gopher1.jpg" alt="" width="150"/>
        <p><a href="{{site.url}}/speakers.html#cameron-balahan" target="_blank">And More!</a></p>
      </div>
-->
    </div>
<!--
        <p><a href="{{site.url}}/speakers.html#steve-francia">Steve Francia</a></p>
        <p><a href="{{site.url}}/speakers.html#mark-bates">Mark Bates</a></p>
-->
    <h3>Emcees</h3>
    <div class="headshot-row">
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/steve_francia.png" alt="Steve Francia"/>
        <p><a href="https://twitter.com/spf13">Steve Francia</a></p>
      </div>
      <div class="headshot-cell">
        <img src="{{site.url}}/images/speakers/2023/angelica_hill.jpg" alt="Angelica Hill"/>
        <p><a href="https://twitter.com/Angelica_Hill">Angelica Hill</a></p>
      </div>
    </div>
<!--
    <p>
      We will announce more speakers very soon, as we confirm them.
    </p>
-->
  </div>
</div>
