<style>
  div.schedule-wrapper {
    background-color: #D0ECE7;
  }
  div.schedule {
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 0px;
  }
  div.schedule h3 {
    color: #28282B;
    background-color: #D0ECE7;
    text-align: center;
    padding: 10px 0px;
  }
  div.schedule p {
    color: #28282B;
    text-align: center;
  }
  div.schedule-break {
  }
  div.schedule-entry {
  }
  div.schedule-time {
    color: #28282B;
    text-align: center;
  }
  div.schedule-entry p {
    color: #28282B;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  div.schedule-entry a {
    color: steelblue;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  div.schedule-entry a:hover {
    color: whitesmoke;
    background-color: grey;
  }
</style>

<div id="schedule" class="schedule-wrapper">
  <div class="schedule">
    <h3>Schedule</h3>

    <div class="schedule-entry">
      <div class="schedule-time">
        8:30 AM
      </div>
      <p>Registration and Breakfast</p>
    </div>

    <hr>
    <div class="schedule-entry">
      <div class="schedule-time">
        9:25 AM
      </div>
      <p>Welcome</p>
    </div>
    <div class="schedule-entry">
      <div class="schedule-time">
        9:30 AM
      </div>
      <p><a href="{{site.url}}/speakers.html#allison-mcmillan">Keynote: Allison McMillan</a></p>
    </div>
    <div class="schedule-entry">
      <div class="schedule-time">
        10:00 AM
      </div>
      <p><a href="{{site.url}}/speakers.html#chris_lorenzo">Chris Lorenzo</a></p>
    </div>
    
    <hr>
    <div class="schedule-break">
      <div class="schedule-time">
        10:30 AM
      </div>
      <p>Break</p>
    </div>
    
    <hr>
    <div class="schedule-entry">
      <div class="schedule-time">
        11:00 AM
      </div>
      <p><a href="{{site.url}}/speakers.html#doguhan-uluca">Doguhan Uluca</a></p>
    </div>
    <div class="schedule-entry">
      <div class="schedule-time">
        11:30 AM
      </div>
      <p><a href="{{site.url}}/speakers.html#jordan-kasper">Jordan Kasper</a></p>
    </div>
    
    <hr>
    <div class="schedule-break">
      <div class="schedule-time">
        12:00 PM
      </div>
      <p>Lunch</p>
    </div>
    
    <hr>
    <div class="schedule-entry">
      <div class="schedule-time">
        1:30 PM
      </div>
      <p><a href="{{site.url}}/speakers.html#dave-aronson">Dave Aronson</a></p>
    </div>
    <div class="schedule-entry">
      <div class="schedule-time">
        2:00 PM
      </div>
     <p><a href="{{site.url}}/speakers.html#john-athayde">John Athayde</a></p>
    </div>
    
    <hr>
    <div class="schedule-break">
      <div class="schedule-time">
        2:30 PM
      </div>
      <p>Break</p>
    </div>
    
    <hr>
    <div class="schedule-entry">
      <div class="schedule-time">
        3:00 PM
      </div>
      <p><a href="{{site.url}}/speakers.html#karl-groves">Karl Groves</a></p>
    </div>
    <div class="schedule-entry">
      <div class="schedule-time">
        3:30 PM
      </div>
      <p><a href="{{site.url}}/speakers.html#justin-schroeder">Justin Schroeder</a></p>
    </div>

    <hr>
    <div class="schedule-break">
      <div class="schedule-time">
        4:00 PM
      </div>
      <p>Happy Hour</p>
    </div>
<!--
    <p>NOTE: Schedule subject to change.</p>
-->
  </div>
</div>
