<style>
  div.schedule-wrapper {
    background-color: #D0ECE7;
  }
  div.schedule {
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 0px;
  }
  div.schedule p {
    color: #28282B;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px 0px;
  }
  div.schedule h3 {
    color: #28282B;
    background-color: #D0ECE7;
    text-align: center;
    padding: 10px 0px;
  }
  div.schedule h4 {
    color: #28282B;
    background-color: #D0ECE7;
    text-align: center;
    padding: 10px 0px;
  }
  div.schedule p {
    color: #28282B;
    text-align: center;
  }
  div.schedule-break {
    padding: 10px 0px 0px 0px;
  }
  div.schedule-entry {
    padding: 10px 0px 0px 0px;
    background-color: lightblue;
    margin: 1px;
  }
  div.schedule-time {
    color: #28282B;
    text-align: center;
  }
  div.schedule-entry p {
    color: #28282B;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  div.schedule-entry a {
    color: steelblue;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  div.schedule-entry a:hover {
    color: whitesmoke;
    background-color: grey;
  }
</style>

<div id="schedule" class="schedule-wrapper">
  <div class="schedule">
    <h3>Schedule</h3>

    <h4>June 7</h4>

    <div class="schedule-entry">
      <div class="schedule-time">
        6:30 PM - 8:30 PM
      </div>
      <p><a href="https://www.meetup.com/golanguagenewyork/events/292990885/" target="_blank">Golang NYC Meetup at Datadog</a></p>
    </div>

    <h4>June 8</h4>

    <div class="schedule-entry">
      <div class="schedule-time">
        9:30 AM - 4:00 PM
      </div>
      <p><a href="{{site.url}}/#workshop">Ultimate Service with Kubernetes Workshop</a></p>
    </div>

    <h4>June 9</h4>

    <div class="schedule-entry">
      <div class="schedule-time">
        8:30 AM
      </div>
      <p>Registration and Breakfast</p>
    </div>

    <div class="schedule-entry">
      <div class="schedule-time">
        9:25 AM
      </div>
      <p>Welcome</p>
    </div>
    <div class="schedule-entry">
      <div class="schedule-time">
        9:30 AM
      </div>
      <p>Cameron Balahan &mdash; <a href="{{site.url}}/speakers.html#cameron-balahan">State of the Go Nation</a></p>
    </div>
    <div class="schedule-entry">
      <div class="schedule-time">
        10:00 AM
      </div>
      <p>Lesley Cordero &mdash; <a href="{{site.url}}/speakers.html#lesley-cordero">Using Golang for Platform Engineering</a></p>
    </div>
    
    <div class="schedule-break">
      <div class="schedule-time">
        10:30 AM
      </div>
      <p>Break</p>
    </div>
    
    <div class="schedule-entry">
      <div class="schedule-time">
        11:00 AM
      </div>
      <p>Mofizur Rahman &mdash; <a href="{{site.url}}/speakers.html#mofizur-rahman">Sorting a Trillion with Go</a></p>
    </div>
    <div class="schedule-entry">
      <div class="schedule-time">
        11:30 AM
      </div>
      <p>Alan Shreve &mdash; <a href="{{site.url}}/speakers.html#alan-shreve">Fire your Ops Team</a></p>
    </div>
    
    <div class="schedule-break">
      <div class="schedule-time">
        12:00 PM
      </div>
      <p>Lunch</p>
    </div>
    
    <div class="schedule-entry">
      <div class="schedule-time">
        1:20 PM
      </div>
      <p>Jason Hall &mdash; <a href="{{site.url}}/speakers.html#jason-hall">ko: The only good way to build Go containers</a></p>
    </div>
    <div class="schedule-entry">
      <div class="schedule-time">
        1:50 PM
      </div>
      <p>Alan Donovan and Robert Findley &mdash; <a href="{{site.url}}/speakers.html#alan-donovan">Redesigning Gopls for 10x scale</a></p>
    </div>
    
    <div class="schedule-break">
      <div class="schedule-time">
        2:30 PM
      </div>
      <p>Break</p>
    </div>
    
    <div class="schedule-entry">
      <div class="schedule-time">
        3:00 PM
      </div>
      <p>Katie Hockman &mdash;<a href="{{site.url}}/speakers.html#katie-hockman">Practical Fuzzing</a></p>
    </div>
    <div class="schedule-entry">
      <div class="schedule-time">
        3:30 PM
      </div>
      <p>Moieed Ahmed and Lee Tsai &mdash; <a href="{{site.url}}/speakers.html#moieed-ahmed">Go Big! Go Enterprise</a></p>
      <button type="button" class="collapsible">Details ...</button>
      <div class="more" style="display: none;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <div class="schedule-break">
      <div class="schedule-time">
        4:00 PM
      </div>
      <p>Happy Hour</p>
    </div>

    <p>NOTE: Schedule subject to change.</p>

  </div>

</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
