<style>
  div.sponsors-panel-wrapper {
    background-color: #5D5C61;
  }
  div.sponsors-panel {
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 0px;
  }
  div.sponsors-panel h3 {
    color: WhiteSmoke;
    text-align: center;
    padding: 10px 0px;
  }
  div.sponsors-panel p {
    color: WhiteSmoke;
    text-align: center;
  }
  div.sponsor-panel-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px 25px 0px;
  }
  div.sponsor-panel-cell {
    background-color: #C0CCC7;
    padding: 0px 15px;
    margin: 10px 40px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    box-shadow: 3px 3px 3px grey;
  }
  div.sponsor-panel-inner-cell {
    height: 145px;
    display: table-cell;
    vertical-align: middle;  
  }
  div.sponsor-panel-cell img {
  }
</style>

<div class="sponsors-panel-wrapper">
  <div class="sponsors-panel">
    <h3>Sponsors</h3>
    <div class="sponsor-panel-row">
      <div class="sponsor-panel-cell">
        <div class="sponsor-panel-inner-cell">
          <a href="https://ngrok.com/" target="_blank">
            <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2023/ngrok.png" alt="" width="200px"/>
          </a>
        </div>
      </div>
      <div class="sponsor-panel-cell">
        <div class="sponsor-panel-inner-cell">
          <a href="https://deepsource.com/" target="_blank">
            <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2023/deep_source.png" alt="" width="200px"/>
          </a>
        </div>
      </div>
      <div class="sponsor-panel-cell">
        <div class="sponsor-panel-inner-cell">
          <a href="https://www.anchorage.com/" target="_blank">
            <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2023/anchorage_digital.png" alt="" width="200px"/>
          </a>
        </div>
      </div>
    </div>
    <p>
      For sponsorship information, please email us at info at gothamgo.com
    </p>
  </div>
</div>
