<style>
  div.workshop-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: DarkGrey;
  }
  div.workshop {
    display: flex;
    max-width: 900px;
    background-color: DarkGrey;
  }
  div.workshop-details {
    padding: 35px 20px;
    background-color: DarkGrey;
  }
  div.workshop h1 {
    background-color: DarkGrey;
  }
  div.workshop h2 {
    background-color: DarkGrey;
  }
  div.workshop h3 {
    padding: 0em 0em 0.25em 0em;
    background-color: DarkGrey;
  }
  div.workshop p {
    padding: 0.25em 0em;
    background-color: DarkGrey;
  }
  div.workshop-image {
    padding: 35px 20px;
    background-color: DarkGrey;
  }
  div.workshop-image img {
    padding: 3px 0px 0px 0px;
    background-color: DarkGrey;
  }
  div#workshop-button {
    text-align: center;
    background-color: DarkGrey;
  }
</style>

<div class="workshop-wrapper">
  <div id="workshop" class="workshop">
    <div class="workshop-image">
      <img class="speaker-image" src="{{site.url}}/images/sponsors/2023/arden_labs.webp" alt="" width="110"/>
    </div>

    <div class="workshop-details">
      <h3>
        Ultimate Service with Kubernetes Workshop at 
        <a href="https://www.google.com/search?q=470+Park+Ave+South+FL+9N+%C2%B7+New+York%2C+ny&oq=470+Park+Ave+South+FL+9N+%C2%B7+New+York%2C+ny&aqs=chrome..69i57j33i299j33i22i29i30.333j0j4&sourceid=chrome&ie=UTF-8" target="_blank">Achorage Digital</a>
      </h3>
      <p>
        We are very happy to announce that a Ultimate Service with Kubernetes workshop day will be provided by Ardan Labs.
        This workshop will take place the day before GothamGo, on June 8th, at
        <a href="https://www.google.com/search?q=470+Park+Ave+South+FL+9N+%C2%B7+New+York%2C+ny&oq=470+Park+Ave+South+FL+9N+%C2%B7+New+York%2C+ny&aqs=chrome..69i57j33i299j33i22i29i30.333j0j4&sourceid=chrome&ie=UTF-8" target="_blank">Achorage Digital</a>.
      </p>
      <p>
        Learn how to build production-level services in Go with a focus on macro-level engineering decisions.
      </p>
      <p>
        This class teaches how to build production-level services in Go with a focus on macro-level engineering decisions. 
        From the beginning you will pair program with the instructor, walking through the design philosophies 
        and guidelines used to engineer the code. With each new feature, 
        you will learn more about the transition from programming to engineering 
        and the points of refactoring required to write production level applications. 
        Throughout the class, Go modules and Kubernetes will be a focus. 
        Everyone will be making better engineering decisions after this class.
      </p>
      <p>
        <strong>Prerequisites</strong>: A basic understanding of the Go programming language. 
        Students do not have to be expert Go users but they will get the most from the workshop 
        if they have completed the majority of the <a href="https://go.dev/tour/welcome/1" target="_blank">Tour of Go</a>.
      </p>
      <p>
        <strong>Instructor</strong>: <a href="https://twitter.com/goinggodotnet" target="_blank">William Kennedy</a> 
        is a managing partner at Ardan Labs in Miami, Florida. 
        Ardan is a group of passionate engineers, artists and business professionals focused on building and delivering reliable, 
        secure and scalable solutions. 
        Bill is also the author of Go in Action and the Ultimate Go Notebook, plus the author of over 100 blog posts and articles about Go. 
        Lastly, he is a founding member of GoBridge and the GDN, which are organizations working to increase Go adoption through diversity.
      </p>

      <div id="workshop-button" style="font-family:Helvetica, arial; padding-top: 1em;" class="center">
        <a href="https://gothamgo.ticketleap.com/gotham-go-2023/" style="background-color:#7395AE;font-size:15px;border-radius: 3px;-moz-border-radius:3px;-webkit-border-radius:3px;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);display: inline-block;margin:0;text-align:center;text-decoration:none;font-weight:bold;color:#FFFFFF;letter-spacing: .07em;padding:18px 27px;font-family: arial,sans-serif !important;" target="_blank">Go Workshop Tickets</a>
      </div>
    </div>
  </div>
</div>
